# macOS system files
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log

# VS Code settings folder
.vscode/

# Log files
*.log

# Build output directories
dist/
build/

# JetBrains IDE specific
.idea/

# Environment variable files
.env

# Temporary files
*.swp
*.bak

# Python specific
__pycache__/
.pytest_cache/

# Windows specific files
Thumbs.db

# Other
*.log